.emptyCart{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 10vmax;
    display: flex;
    flex-direction: column;
}
.emptyCart > svg {
    font-size: 5vmax;
    color: tomato;
}
.emptyCart > p {
    font-size: 2vmax;
}
.emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    text-decoration: none;
}
.cartPage{
    padding: 5vmax;
}
.cartHeader {
    background-color: tomato;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 0.7vmax "Roboto";
}
.cartHeader > p {
    margin: 10px;
}
.cartHeader > p:last-child {
    text-align: end;
}
.cartContainer{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}
.cartInput{
    display: flex;
    align-items: center;
    height: 8vmax;
}
.cartInput > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}
.cartInput > button:hover {
    background-color: rgba(0, 0, 0, 0.767);
}
.cartInput > input {
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    font: 400 0.8vmax "Roboto";
    color: rgba(0, 0, 0, 0.74);
}
.cartSubTotal{
    display: flex;
    padding: 0.5vmax;
    justify-content: flex-end;
    color: rgba(0,0,0,0.753);
    align-items: center;
    box-sizing: border-box;
    font: 700 1vmax 'Roboto';
    height: 8vmax;
}
.cartGrossProfit {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}
.cartGrossProfitBox {
    border-top: 3px solid tomato;
    margin: 1vmax 4vmax;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    padding: 2vmax 0;
}
.checkOutbtn {
    display: flex;
    justify-content: flex-end;
}
.checkOutbtn > button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 0.8vmax 4vmax;
    margin: 1vmax 4vmax;
    cursor: pointer;
    border-radius: 30px;
    font: 300 0.8vmax "Roboto";
    width: 50%;
}

@media screen and (max-width: 600px){
    .cartPage{
        padding: 0;
        min-height: 60vh;
    }
    .cartHeader {
        width: 100%;
        grid-template-columns: 3fr 1fr 1fr;
        font: 300 1.7vmax "Roboto";
    }
    .cartContainer{
        width: 100%;
        grid-template-columns: 3fr 1fr 1fr;
    }
    .cartInput{
        height: 20vmax;
    }
    .cartInput > button {
        padding: 1.5vmax;
    }
    .cartInput > input {
        width: 2vmax;
        padding: 1.5vmax;
        font: 400 1.8vmax "Roboto";
    }
    .cartSubTotal{
        padding: 1.5vmax;
        font: 300 2vmax 'Roboto';
        height: 20vmax;
    }
    .cartGrossProfit {
        display: grid;
        grid-template-columns: 0fr 2fr;
    }
    .cartGrossProfitBox {
        padding: 2vmax;
        font: 300 2vmax "Roboto";
    }
    .checkOutbtn > button {
        padding: 2vmax 4vmax;
        font: 300 2vmax "Roboto";
        width: 100%;
    }
}
