@keyframes backdrop {
    0% { transform: scale(1) }
    100% { transform: scale(1.1); }
}

.game-carousel-container{
    width: 100vw;
    background-color: white;
}
.game-image{
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.game-image > img {
    height: 100%;
    width: 100%;
}
.game-card-container{
    height: 660px;
    background-color: white;
}
.game-card {
    position: relative; /* Ensure proper positioning for pseudo-element */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide any overflow from pseudo-element */
}

.game-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), var(--img);
    animation: backdrop 7s infinite; /* Adjust duration and other properties as needed */
}

.game-carousel-container::after{
    content: '';
    width: 100vw;
    height: 110vmin;
    background-color: #FFFFFF;
    position: absolute;
    top: 0%;
    left: 0;
    -webkit-clip-path: polygon(100% 78%, 100% 100%, 0 100%, 0 91%); 
    clip-path: polygon(100% 78%, 100% 100%, 0 100%, 0 91%);

    max-width: 100%;

}
.game-detail{
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.game-platform{
    color: white;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 4vmax;
    font-weight: 100;
    flex-direction: column;
}
.game-platform > .explore-buttons {
    display: flex;
    flex-direction: row;
}
.game-platform > .explore-buttons > a > button {
    margin: 0.5vmax;
    border: 0.2vmax solid white;
    background-color: inherit;
    padding: 1vmax 2vmax;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 1.5vmax;
    cursor: pointer;
    transition: all 0.5s;
}
.game-platform > .explore-buttons > a > button:hover {
    background-color: white;
    color:initial;
    outline: none;
}
@media screen and (max-width: 600px) {
    .game-detail{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .game-image{
        border-radius: 5px;
        margin-bottom: 2vmax;
    }
    .game-image > img {
        height: 100%;
        width: 100%;
    }
    .game-carousel-container::after{
        -webkit-clip-path: none; 
        clip-path: none;
        z-index: 1;
        width: 0vmax;
        height: 0vmax;
        position: absolute;
        top: 0%;
        left: 0;
    }
    .game-platform > h4 {
        text-align: center;
    }
}